body{
	
	font-size: 13px;
	width: 1200px;
	margin: 0px auto;
}
#menu-top{
	background: #1949b5;
	height: 40px;
}
#banner{
	height: auto;
	width:1200px;
}
#main #left{
	width: 800px;
	float: left;
	min-height: 400px;
}
#main #right{
	width: 300px;
	float: left;
	margin: 0px 0px 0px 100px;
	min-height: 400px;
}
#footer{
	background:  #cccccc;
	width: 1200px;
	text-align: center;
	height: 60px;
	color: #4d4dff;
	clear: left;
	line-height: 60px;
}
#menu-top ul{
	margin: 0px;
	padding: 0px;
}
#menu-top ul li{
	list-style: none;
	float: left;
}
#menu-top ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid #f1f1f1;
}
#menu-top ul li a.active{
	background: #1949b5;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
#banner img{
	width: 1200px;	
}
#main #left ul{
	margin: 0px;
	padding: 0px;
}
#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom: 1px solid #ccc;
	float: left;
	margin-bottom: 20px;
}
#main #left ul li img{
	float:  left;
	margin-right: 10px;
	margin-bottom: 20px;
}
#main #left ul li h2{
	font-size: 16px;
	margin-top: 0px;
	
}
#main{
	margin-top: 10px;
}
#main  #right .menu-right ul{
	margin: -9px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}
#main  #right .menu-right ul li{
	list-style: none;
}
#main  #right .menu-right ul li a{
	display: block;
	text-decoration: none;
	line-height: 45px;
	height: 40px;
	border-bottom: 1px solid #ccc;
	text-indent: 15px;
	font-size: 12px;
	color: #878787;
}
#main  #right .menu-right ul li a:hover{
	color: orange;
}
#main  #right .menu-right h3{
	background: #194d58 ;
	margin-top: 0px;
	font-size: 12px;
	line-height: 40px;
	color: white;
	text-indent: 25px;
}

/*design search*/
#searchbar{
	margin-bottom: 5px;
    height: 40px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    #search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    }

    #searchbar:hover > #search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    #searchbar:hover > #search_icon{
    background: white;
    color: #e74c3c;
    }

    #search_icon{
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    /*hieu ung cho image tin tuc*/
    #main #left .flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

#main #left .flip-b#main #left ox-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#main #left .flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

#main #left .flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#main #left .flip-box-front {
  background-color: #bbb;
  color: black;
}

#main #left .flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}